.Column{
     display: flex;
    flex-flow: column;
}

.Md{
    display: flex;
    flex-flow: column;
    width: 100%;
}

.DisplayNoneMobile{
    display: none;
}


@media(min-width: 769px){
    .Md{
        width: 50%;
       
       
    }

    .DisplayNoneMobile{
        display: block;
    }
}